body {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: rgb(76,88,102);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

body > section {
  margin: auto;
  padding: 15px 15px;
}

h1 {
  font-size: 100px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  color: rgb(112,128,144);
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 28px;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding: 7px;
}

a:hover{
  color: #0077B5;
}

.main {
  display: none;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.main div{
  padding: 10px 15px;
}

.home {
  display: flex;
}

p {
  max-width: 800px;
  font-size: 20px;
  color: rgb(112,128,144);
}

.subtext {
  margin-top: 10px;
  padding-left: 15px;
}

.project {
  margin-top: 20px;
}

footer {
  margin: 24px auto;
}

.center-wrapper p {
  text-align: center;
}
