body {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: rgb(36,36,36);
}

.dividers {
  height: 33vh;
}

h1 {
  font-size: 112px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  color: rgb(74,74,74);
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 28px;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding: 7px;
}

a:hover{
  color: #0077B5;
}

.main {
  display: none;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.main div{
  padding: 10px 15px;
}

.home {
  display: flex;
}

p {
  font-size: 20px;
  color: rgb(74,74,74);
}

.subtext {
  padding-left: 15px;
}

.project {
  margin-top: 10px;
}

footer {
  margin: 24px auto;
}
